services:
  api:
    build: ./fastapi-backend
    container_name: api
    env_file: ./fastapi-backend/.env
    ports:
      - "8000:80"
    depends_on:
      - db
      - redis
    restart: unless-stopped

  ocpp:
    build: ./ocpp-backend
    container_name: ocpp
    env_file: ./ocpp-backend/.env
    ports:
      - "9000:9000"
    depends_on:
      - redis
      - api
    restart: unless-stopped

  db:
    image: postgres:16
    container_name: db
    env_file: ./fastapi-backend/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped

volumes:
  pgdata:
