LOG_LEVEL=debug # Úroveň logování (debug = vypisuje vše včetně detailů requestů)
NODE_ENV=development # Nastavení prostředí (development = zapne barevné, čitelné logy)
PORT=9000 # Port, na kterém poběží OCPP backend server
API_URL=http://api:80/api/v1 # URL adresa FastAPI backendu